<div class="container">
  <%= will_paginate %>
  <h4><%= link_to t (".create_sub"), new_author_url %></h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "author.author_name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= link_to author.name, author %></td>
          <td><%= link_to t("form.delete"), author, method: :delete, data: {confirm: t("form.you_sure")} %></td>
          <td><%= link_to t("form.edit"), edit_author_path(author) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
