<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="create-tr name"><%= t(".name_book") %></th>
        <th class="create-tr name"><%= t(".category") %></th>
        <th class="create-tr name"><%= t(".description") %></th>
        <th class="create-tr name"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to book.name, book %></td>
        <td class="color-tr"><%= book.category.name %></td>
        <td class="color-tr"><%= book.description %></td>
      </tr>
    </tbody>
  </table>
</div>
