<% provide :title, t(".title") %>
<div class="container">
  <table class="table">
    <% if current_user.admin?%>
      <%= link_to t(".add"), new_book_path %>
    <% end %>
    <thead>
      <h2><%= t ".title" %></h2>
      <th></th>
      <th><%= t(".name") %></th>
      <th><%= t(".description") %></th>
      <th><%= t(".category") %></th>
      <th><%= t(".author") %></th>
    </thead>
    <tbody>
      <tr>
        <%= render partial: "index",  collection: @books, as: "book" %>
      </tr>
    </tbody>
  </table>
</div>
